@import '~react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-primary-color: $md-teal-500;
$md-secondary-color: $md-purple-a-400;
$md-light-theme: true; // setting to false in v2 since the default background is dark

//$md-expansion-panel-font-size: 20px;

//$md-tooltip-mobile-font-size: 14px;
$md-tooltip-desktop-font-size: 16px;

//$md-btn-mobile-font-size: 14px !default;
//$md-btn-desktop-font-size: 13px !default;

